<article class="content">
  <div class="jumbotron">
    <h1>Mapa de sitio</h1>
  </div>
</article>

<section class="articles">
  <nav class="articles-inner">
    <ul>
      <%= for {type, publications} <- @publications do %>
      <%= type %>
      <%= for publication <- publications do %>
        <li><%= link publication.title, to: page_path(@conn, :show, path_for(publication.type), publication) %></li>
      <% end %>
      <% end %>
    </ul>
  </nav>
</section>
