<h2>Nueva categoría</h2>

<%= render "form.html", Map.put(assigns, :action, category_path(@conn, :create)) %>

<span><%= link "Volver", to: publication_path(@conn, :index), class: "btn btn-default" %></span>
