/* This file is for your main application css. */
.bad {
  color: #ff1a22;
}

.good {
  font-weight: bold;
  color: green;
}

.description-textarea {
  min-height: 120px;
}

.content-textarea {
  min-height: 800px;
}

tr.category {
  background-color: #eee;
}

footer.body-footer {
  margin-top: 30px;
}
