<h2><%= gettext("New publication") %></h2>

<%= render "form.html", Map.put(assigns, :action, publication_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: publication_path(@conn, :index) %></span>
