<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" >

    <title>Coala - Activismo por los animales</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header" role="banner">
      <div class="header-inner">
        <div class="logo"><a href="/"><%= img_tag("/images/logo-verde.png", class: "logo") %></a></div>
        <nav class="navigation">
          <ul>
            <li><%= link "Paginas", to: "/" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <div class="footer-inner" style='text-align:center;'>
        <p>Creado por <a href="/">Nicanor Perera</a>.</p>
        <p><%= link "Registrarme", to: registration_path(@conn, :register) %> - <%= link "Administrar", to: publication_path(@conn, :index) %></p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
