<h2><%= gettext("Show user") %></h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Crypted password:</strong>
    <%= @user.crypted_password %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @user.role %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: user_path(@conn, :edit, @user) %></span>
<span><%= link gettext("Back"), to: user_path(@conn, :index) %></span>
